*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Poppins' !important;
  font-weight: 500 !important; }

@font-face {
  font-family: Best Deals;
  src: url("../Best Deals.ttf"); }

.container-full {
  display: grid;
  grid-template-rows: 5vh 8vh repeat(5, min-content);
  grid-template-columns: [full-start] 1fr [center-start] 1fr repeat(8, [col-start] minmax(min-content, 140px) [col-end]) [center-end] 1fr [full-end];
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    .container-full {
      grid-template-rows: 3vh 5vh repeat(5, min-content);
      grid-template-columns: [full-start] 1fr [center-start] 1fr repeat(6, [col-start] minmax(min-content, 100px) [col-end]) [center-end] 1fr [full-end]; } }
  @media only screen and (max-width: 62.5em) {
    .container-full {
      grid-template-rows: min-content repeat(5, min-content);
      grid-template-columns: [full-start] 100px [center-start] 1fr repeat(4, [col-start] minmax(min-content, 100px) [col-end]) [center-end] 100px [full-end]; } }

.sidebar {
  background-color: #feb564;
  grid-column: full-start / center-end;
  display: grid; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      display: none; } }
  .sidebar__text {
    justify-items: center;
    align-items: center;
    display: grid;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif; }
  .sidebar__icons {
    grid-column: 11 / 12;
    justify-self: end; }
    .sidebar__icons img {
      width: 20px;
      height: 20px;
      margin-right: 5px; }
  .sidebar__turkish {
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer; }
    @media only screen and (max-width: 50em) {
      .sidebar__turkish {
        display: none; } }

.header {
  background-color: #23232f;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  @media only screen and (max-width: 50em) {
    .header {
      display: block; } }
  .header__hamburger {
    justify-self: center;
    align-self: center; }
  @media only screen and (max-width: 50em) {
    .header__hamburger, .header__logo {
      display: block;
      margin: auto;
      margin-top: 20px; } }
  .header__logo {
    justify-self: center;
    align-self: center;
    grid-column: 6 / 8;
    max-width: 100%; }
  .header__search {
    grid-column: 9 / -1;
    justify-self: center; }
    @media only screen and (max-width: 62.5em) {
      .header__search {
        grid-column: 8 / -1; } }
    @media only screen and (max-width: 50em) {
      .header__search {
        display: none; } }
    .header__search ::placeholder {
      color: #fff;
      font-family: 'Poppins', sans-serif;
      font-size: 12px;
      color: rgba(218, 214, 214, 0.87); }
    .header__search-form__field {
      border: 0;
      border-bottom: 2px solid #feb564;
      outline: 0;
      padding: 7px 30px;
      background: transparent;
      transition: border-color 0.2s; }
    .header__search-icon {
      position: relative;
      left: 20px; }

.hero-section {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .hero-section-content {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 40%; }
    @media only screen and (max-width: 62.5em) {
      .hero-section-content {
        bottom: 45px; } }
    .hero-section-content-title {
      color: #feb564;
      font-size: 70px;
      font-family: 'Playfair Display', serif; }
      @media only screen and (max-width: 75em) {
        .hero-section-content-title {
          font-size: 50px; } }
      @media only screen and (max-width: 62.5em) {
        .hero-section-content-title {
          font-size: 30px; } }
    .hero-section-content-title,
    .hero-section-content p {
      text-align: center; }
    @media only screen and (max-width: 62.5em) {
      .hero-section-content p {
        font-size: 12px; } }
    .hero-section-content-title, .hero-section-content-btn {
      text-transform: uppercase; }
    .hero-section-content-btn {
      display: block;
      margin: auto;
      background-color: transparent;
      color: #fff;
      padding: 15px 20px;
      border: 1px solid #fff;
      cursor: pointer; }
      @media only screen and (max-width: 62.5em) {
        .hero-section-content-btn {
          padding: 5px; } }
      .hero-section-content-btn:focus {
        outline: 0; }

.carousel {
  grid-column: 1 / -1; }

.features {
  right: 20px !important;
  margin-right: 0 !important;
  left: auto !important; }
  .features .list {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%; }
  .features .active {
    background-color: #feb564 !important; }

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important; }

.features {
  grid-column: center-start / full-end;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 100px;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .features {
      position: static;
      display: block; } }
  @media only screen and (max-width: 50em) {
    .features {
      grid-column: full-start / full-end; } }
  .features__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-column: 1 / 4; }
    @media only screen and (max-width: 75em) {
      .features__content {
        grid-column: 1 / 5; } }
    @media only screen and (max-width: 62.5em) {
      .features__content {
        grid-column: 1 / 9; } }
    @media only screen and (max-width: 37.5em) {
      .features__content {
        display: block;
        text-align: center; } }
    .features__content-big-title, .features__content-colored, .features__content-last-title {
      font-size: 40px;
      font-weight: bold;
      grid-column: 1 / 7;
      font-family: 'Playfair Display', serif; }
    .features__content-small-title {
      font-size: 30px; }
    .features__content-last-title::after {
      content: "";
      position: absolute;
      width: 250px;
      left: 10px;
      height: 0.5em;
      border-top: 3.5px solid #000;
      z-index: -1;
      top: 200px; }
      @media only screen and (max-width: 50em) {
        .features__content-last-title::after {
          width: 100px;
          left: 80px; } }
    .features__content-big-title::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 330px;
      right: 0;
      height: 0.5em;
      border-top: 3.5px solid #000;
      z-index: -1; }
      @media only screen and (max-width: 50em) {
        .features__content-big-title::after {
          left: 350px; } }
    .features__content-text-1, .features__content-text-2 {
      grid-column: 1 / 4; }
    .features__content-btn {
      grid-column: 1 / 4;
      text-transform: uppercase;
      background-color: #fff;
      padding: 10px 20px; }
    .features__content-colored {
      color: #feb564;
      grid-column: 1 / 7;
      width: 400px; }
    .features__content-paragraphs {
      grid-column: 1 / 6;
      margin-top: 100px; }
  .features__image {
    display: grid;
    grid-column: 6 / -1;
    grid-template-rows: repeat(6, min-content);
    position: relative;
    top: 100px; }
    @media only screen and (max-width: 62.5em) {
      .features__image {
        grid-column: 1 / -1; } }
    .features__image-img {
      width: 400px;
      grid-column: 1 / 2;
      grid-row: 3 / -1;
      z-index: 10;
      position: relative;
      right: 240px;
      bottom: 100px; }
      @media only screen and (max-width: 75em) {
        .features__image-img {
          width: 250px;
          right: 110px; } }
      @media only screen and (max-width: 62.5em) {
        .features__image-img {
          bottom: 650px;
          left: 400px; } }
      @media only screen and (max-width: 50em) {
        .features__image-img {
          display: none; } }
    .features__image-products {
      grid-column: 1 / -1;
      grid-row: 2 / 5;
      background-color: #ffebd4;
      display: grid;
      grid-template-columns: repeat(10, 5vw);
      border-radius: 10px 0 0 0;
      grid-gap: 20px; }
      @media only screen and (max-width: 75em) {
        .features__image-products {
          grid-gap: 0; } }
      @media only screen and (max-width: 62.5em) {
        .features__image-products {
          grid-template-columns: repeat(10, minmax(9vw, 1fr)); } }
      .features__image-products-price {
        grid-row: 3 / 4; }
      .features__image-products-text {
        grid-column: 1 / 4;
        grid-row: 2 / 3; }
      .features__image-products-first, .features__image-products-second, .features__image-products-third {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, min-content);
        grid-column: 3 / 10;
        position: relative;
        margin: 20px 0; }
        @media only screen and (max-width: 75em) {
          .features__image-products-first, .features__image-products-second, .features__image-products-third {
            grid-column: 4 / 11; } }
        @media only screen and (max-width: 62.5em) {
          .features__image-products-first, .features__image-products-second, .features__image-products-third {
            grid-column: 2 / -1; } }
        .features__image-products-first h5, .features__image-products-second h5, .features__image-products-third h5 {
          grid-column: 1 / 4; }
        .features__image-products-first img, .features__image-products-second img, .features__image-products-third img {
          grid-column: 4 / 6;
          grid-row: 1 / 4;
          justify-self: center;
          max-width: 100%; }
          @media only screen and (max-width: 75em) {
            .features__image-products-first img, .features__image-products-second img, .features__image-products-third img {
              max-width: 80%; } }
      .features__image-products-first::after, .features__image-products-second::after {
        content: "";
        position: absolute;
        bottom: -30px;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid  #fad9b4;
        z-index: 10;
        width: 90%; }
        @media only screen and (max-width: 75em) {
          .features__image-products-first::after, .features__image-products-second::after {
            width: 100%; } }
        @media only screen and (max-width: 62.5em) {
          .features__image-products-first::after, .features__image-products-second::after {
            width: 80%; } }

.products {
  grid-column: center-start / center-end;
  margin-top: 100px; }
  @media only screen and (max-width: 75em) {
    .products {
      margin-top: 200px; } }
  @media only screen and (max-width: 37.5em) {
    .products {
      grid-column: full-start / full-end; } }
  .products__content {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase;
    font-family: "Playfair"; }
  .products__icon {
    width: 20px;
    margin-bottom: 50px; }
  .products__icon::before, .products__icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
    border-top: 1px solid black;
    z-index: -1; }
  .products__line::after, .products__line::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #e27e2c;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-2rem); }
  .products__tab {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 62.5em) {
      .products__tab {
        font-size: 12px; } }
    .products__tab li a {
      text-decoration: none;
      color: #000;
      margin: 10px; }
  .products .tab-content {
    width: 1200px;
    margin: auto;
    margin-top: 100px; }
    @media only screen and (max-width: 75em) {
      .products .tab-content {
        width: 100%; } }
  .products .tablinks {
    margin: 10px;
    cursor: pointer; }

.slider {
  display: flex; }

.nav .nav-pills {
  display: grid; }

.box {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 10px; }

.products-paragraph {
  font-size: 14px;
  text-align: start; }
  .products-paragraph-top {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 0 130px;
    text-align: center;
    font-size: 10px; }

.owl-nav {
  display: block !important; }
  @media only screen and (max-width: 50em) {
    .owl-nav {
      display: none !important; } }

.owl-prev {
  display: block !important;
  background-color: transparent !important;
  position: absolute !important;
  top: 70px !important;
  left: -100px !important; }
  .owl-prev img {
    width: 20x;
    height: 20px;
    filter: invert(50%); }

.owl-next {
  display: block !important;
  background-color: transparent !important;
  position: absolute !important;
  top: 70px !important;
  right: -100px !important; }
  .owl-next img {
    width: 20x;
    height: 20px;
    filter: invert(50%); }

.story {
  background-image: url("../images/background-section.png");
  grid-column: full-start / full-end;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 5vw);
  display: grid;
  margin-top: 100px; }
  @media only screen and (max-width: 75em) {
    .story {
      grid-template-rows: repeat(12, 6vw); } }
  @media only screen and (max-width: 37.5em) {
    .story {
      display: block; } }
  .story__content {
    grid-column: 3 / 6;
    grid-row: 2 / 6; }
    @media only screen and (max-width: 75em) {
      .story__content {
        grid-column: 2 / 5; } }
    @media only screen and (max-width: 62.5em) {
      .story__content {
        grid-column: 2 / 7; } }
    @media only screen and (max-width: 37.5em) {
      .story__content {
        text-align: center;
        padding: 20px; } }
    .story__content-title {
      font-family: 'Playfair Display', serif;
      font-weight: bold; }
    .story__content-title, .story__content-paragraph {
      color: #fff; }
  .story .colored {
    color: #feb564; }
  .story .first {
    margin-top: 50px; }

.story__images {
  grid-column: 7 / full-end;
  display: grid;
  grid-template-rows: repeat(8, 5vw);
  grid-template-columns: repeat(12, minmax(5vw, 1fr));
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .story__images {
      grid-template-rows: repeat(10, 5vw);
      grid-column: 6 / full-end; } }
  @media only screen and (max-width: 62.5em) {
    .story__images img {
      width: 100px; } }

.image-1 {
  grid-column: 1 / span 2;
  grid-row: 3 / 5; }
  @media only screen and (max-width: 75em) {
    .image-1 {
      grid-row: 4 / span 2; } }
  @media only screen and (max-width: 62.5em) {
    .image-1 {
      grid-column: 4 / span 2;
      grid-row: 6 / span 2; } }
  @media only screen and (max-width: 37.5em) {
    .image-1 {
      grid-column: 2 / span 2;
      grid-row: 4 / span 2; } }

.image-2 {
  grid-column: 4 / span 2;
  grid-row: 3 / 4; }
  @media only screen and (max-width: 75em) {
    .image-2 {
      grid-column: 5 / span 2;
      grid-row: 3 / span 2; } }
  @media only screen and (max-width: 62.5em) {
    .image-2 {
      grid-column: 8 / span 2;
      grid-row: 5 / span 2; } }
  @media only screen and (max-width: 37.5em) {
    .image-2 {
      grid-column: 6 / span 2;
      grid-row: 4 / span 2;
      width: 150px !important; } }

.image-3 {
  grid-column: 1 / 3;
  grid-row: 6 / 8; }
  @media only screen and (max-width: 75em) {
    .image-3 {
      grid-row: 9 / span 2; } }
  @media only screen and (max-width: 62.5em) {
    .image-3 {
      grid-column: 4 / span 2;
      grid-row: 10 / span 2; } }
  @media only screen and (max-width: 37.5em) {
    .image-3 {
      grid-column: 2 / span 2;
      grid-row: 10 / span 2; } }

.image-4 {
  grid-column: 3 / 6;
  grid-row: 6 / 7;
  justify-self: center; }
  @media only screen and (max-width: 75em) {
    .image-4 {
      grid-column: 6 / span 1;
      grid-row: 8 / 9; } }
  @media only screen and (max-width: 62.5em) {
    .image-4 {
      grid-column: 8 / span 1;
      grid-row: 9 / span 1; } }
  @media only screen and (max-width: 37.5em) {
    .image-4 {
      grid-column: 6 / span 2;
      grid-row: 10 / span 2;
      align-self: start; } }

.image-5 {
  grid-column: 6 / span 2;
  grid-row: 6 / 8; }
  @media only screen and (max-width: 75em) {
    .image-5 {
      grid-column: 9 / span 1;
      grid-row: 8 / 9; } }
  @media only screen and (max-width: 62.5em) {
    .image-5 {
      grid-column: 10 / span 1;
      grid-row: 10 / span 2; } }
  @media only screen and (max-width: 37.5em) {
    .image-5 {
      grid-column: 9 / span 1;
      grid-row: 10 / span 2; } }

.woman__images {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  grid-gap: 30px; }
  @media only screen and (max-width: 75em) {
    .woman__images {
      grid-column: full-start / full-end;
      grid-gap: 10px; } }
  @media only screen and (max-width: 62.5em) {
    .woman__images {
      display: block; } }
  .woman__images-black {
    width: 550px;
    height: 830px; }
    @media only screen and (max-width: 75em) {
      .woman__images-black {
        width: 400px;
        height: 715px; } }
    @media only screen and (max-width: 62.5em) {
      .woman__images-black {
        width: 100%;
        height: auto; } }
    .woman__images-black-text {
      position: absolute;
      font-family: 'Best Deals';
      font-size: 150px;
      color: #fff;
      left: 120px;
      bottom: -7%; }
      @media only screen and (max-width: 75em) {
        .woman__images-black-text {
          left: 55px; } }
  .woman__images-first, .woman__images-second, .woman__images-third {
    position: relative; }
  @media only screen and (max-width: 62.5em) {
    .woman__images-second {
      float: left; } }
  @media only screen and (max-width: 62.5em) {
    .woman__images-third {
      float: right; } }
  .woman__images-color {
    width: 350px;
    height: auto; }
    @media only screen and (max-width: 75em) {
      .woman__images-color {
        width: 300px; } }
    @media only screen and (max-width: 62.5em) {
      .woman__images-color {
        width: 384px; } }
    @media only screen and (max-width: 37.5em) {
      .woman__images-color {
        width: 207px; } }
    .woman__images-color-btn-1, .woman__images-color-btn-2 {
      position: absolute;
      padding: 20px 50px;
      text-transform: uppercase;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .woman__images-color-btn-1, .woman__images-color-btn-2 {
          padding: 10px 20px; } }
      .woman__images-color-btn-1:focus, .woman__images-color-btn-2:focus {
        outline: 0; }
    .woman__images-color-btn-1, .woman__images-color-btn-2 {
      right: 65px;
      bottom: 40px; }
      @media only screen and (max-width: 37.5em) {
        .woman__images-color-btn-1, .woman__images-color-btn-2 {
          right: 30px; } }

.instagram__feed {
  grid-column: center-start / center-end;
  margin-top: 100px; }
  @media only screen and (max-width: 37.5em) {
    .instagram__feed {
      grid-column: full-start / full-end; } }
  .instagram__feed-content {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase;
    font-family: "Playfair"; }
  .instagram__feed-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px; }
    @media only screen and (max-width: 37.5em) {
      .instagram__feed-images {
        grid-template-columns: repeat(2, 1fr); } }
  .instagram__feed img {
    width: 100%; }
  .instagram__feed-line::after, .instagram__feed-line::before {
    display: inline-block;
    content: "";
    border-top: 1px solid #feb564;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-2rem); }
  .instagram__feed .icon {
    width: 20px;
    margin-bottom: 50px; }

.blog {
  grid-column: center-start / center-end;
  margin-top: 100px; }
  .blog__content {
    display: grid;
    justify-content: center;
    justify-items: center;
    text-transform: uppercase;
    font-family: "Playfair"; }
    .blog__content-line::after, .blog__content-line::before {
      display: inline-block;
      content: "";
      border-top: 1px solid #feb564;
      width: 4rem;
      margin: 0 1rem;
      transform: translateY(-2rem); }
  .blog__slider {
    margin-top: 50px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .blog__icon {
    width: 20px;
    margin-bottom: 50px; }

.above {
  position: relative;
  bottom: 50px; }

.testimonials {
  position: relative; }

.inner-testimonials .owl-dots {
  display: none; }

.custome_slide.owl-carousel .active.center .main-reviewimage {
  border: 2px solid #fff; }

.test_img {
  position: relative;
  opacity: 1;
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
  margin-top: 40px; }

.inner-testimonials {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

.custome_slide.owl-carousel {
  transform: scale(1.3);
  margin-top: 0 !important;
  position: relative;
  z-index: 999;
  -webkit-transform: scale(1);
  transform: scale(1); }

.custome_slide.owl-carousel {
  transform: scale(0.7);
  padding: 10px 0px;
  transition: all 0.5s; }

.testimonial_detail {
  text-align: center; }

.testimonial_detail {
  transform: scale(0.7) !important;
  width: 447px;
  position: relative;
  left: -71px; }

.testimonial_detail h4 {
  font-size: 38px;
  margin: 0; }

.testimonial_detail p {
  color: #ccc;
  font-size: 26px; }

.custome_slide.owl-carousel .active .testimonial_detail {
  display: none; }

.custome_slide.owl-carousel .testimonial_detail {
  display: block !important; }

@media only screen and (max-width: 767px) {
  .main-reviewimage {
    height: 400px;
    width: 425px;
    margin: 0 auto;
    display: block; }
  .testimonial_detail {
    left: inherit;
    width: 100%; } }

.loop .owl-nav {
  display: none !important; }

#slide-testimonal .owl-item.active.center {
  transform: translateY(-30px) !important;
  transition: .9s !important; }

.blog__text {
  grid-column: 4 / 9;
  text-align: center;
  padding: 0 100px;
  margin-top: 50px; }
  @media only screen and (max-width: 75em) {
    .blog__text {
      grid-column: center-start / center-end; } }
  @media only screen and (max-width: 50em) {
    .blog__text {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 50em) {
    .blog__text {
      padding: 10px; } }
  .blog__text-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-style: italic; }
  .blog__text-paragraphs {
    font-family: 'Poppins'; }

.news {
  background-color: rgba(218, 214, 214, 0.733);
  grid-column: full-start / full-end;
  padding: 20px;
  margin-top: 70px; }
  .news__contents {
    display: grid;
    grid-template-columns: repeat(12, minmax(min-content, 1fr)); }
    @media only screen and (max-width: 62.5em) {
      .news__contents {
        display: block;
        text-align: center; } }
  .news__text {
    grid-column: 2 / span 2;
    justify-self: start; }
    @media only screen and (max-width: 62.5em) {
      .news__text {
        grid-column: 1 / span 4; } }
    .news__text h5 {
      font-family: 'Playfair', sans-serif;
      font-weight: bold; }
  .news__mail {
    grid-column: 5 / span 4;
    align-self: center;
    position: relative; }
    @media only screen and (max-width: 62.5em) {
      .news__mail {
        justify-self: end; } }
    .news__mail-input {
      background-color: #000;
      width: 90%;
      padding: 10px; }
    .news__mail-icon {
      position: absolute;
      right: 70px;
      top: 10px;
      cursor: pointer; }
  .news__icons {
    grid-column: 9 / span 3;
    align-self: center;
    justify-self: center;
    cursor: pointer; }
    @media only screen and (max-width: 62.5em) {
      .news__icons {
        grid-column: 9 / span 4; } }
    @media only screen and (max-width: 62.5em) {
      .news__icons {
        margin-top: 35px; } }
    .news__icons img {
      margin-right: 10px;
      filter: invert(50%); }

input[type=text] {
  color: #fff; }

.footer {
  background-color: #000;
  grid-column: full-start / full-end;
  margin-top: 250px;
  display: grid;
  grid-template-columns: repeat(12, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, 11vw); }
  @media only screen and (max-width: 50em) {
    .footer {
      display: block;
      margin-top: 100px; } }
  .footer__images {
    grid-column: 2 / 8;
    display: grid; }
    .footer__images-first {
      grid-column: 2 / span 3;
      width: 100%;
      position: relative;
      bottom: 158px; }
      @media only screen and (max-width: 50em) {
        .footer__images-first {
          position: static; } }
    .footer__images-second {
      grid-column: 6 / span 3;
      width: 90%; }
      @media only screen and (max-width: 50em) {
        .footer__images-second {
          width: 100%; } }
  .footer__content, .footer__copyright {
    grid-column: 8 / -1;
    color: #fff; }
    @media only screen and (max-width: 50em) {
      .footer__content, .footer__copyright {
        text-align: center; } }
  .footer__content {
    padding: 20px 10px; }
    .footer__content-color {
      color: #feb564; }
  .footer__copyright {
    grid-row: 3 / -1; }

.dijital {
  grid-column: 12;
  grid-row: 3 / -1;
  align-self: center; }
