*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
}

$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;   

@font-face { font-family: Best Deals; src: url('../Best\ Deals.ttf'); } 

.container-full {
    display: grid;
    grid-template-rows: 5vh 8vh repeat(5, min-content) ;
    grid-template-columns: [full-start] 1fr [center-start] 1fr repeat(8, [col-start] minmax(min-content, 140px) [col-end]) [center-end] 1fr [full-end];
    overflow-x: hidden;

    @media only screen and (max-width: $bp-largest) {
        grid-template-rows: 3vh 5vh repeat(5, min-content) ;
        grid-template-columns: [full-start] 1fr [center-start] 1fr repeat(6, [col-start] minmax(min-content, 100px) [col-end]) [center-end] 1fr [full-end];
    }
    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 3vh 6vh repeat(5, min-content) ;
        grid-template-columns: [full-start] 100px [center-start] 1fr repeat(4, [col-start] minmax(min-content, 100px) [col-end]) [center-end] 100px [full-end];
    }
}

