.blog {
    grid-column: 3 / 10;
    margin-top: 100px;
    

    &__content {
        display: grid;
        justify-content: center;
        justify-items: center;
        text-transform: uppercase;
        font-family: "Playfair";
        
        &-line::after,
        &-line::before {
            display: inline-block;
            content: "";
            border-top: 1px solid #feb564;
            width: 4rem;
            margin: 0 1rem;
            transform: translateY(-2rem);
        }
    }
    
    &__slider {
        margin-top: 50px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
    } 

    &__icon {
        width: 20px;
        margin-bottom: 50px; 
    }

   
}

.above {
    position: relative;
    bottom: 50px;
}

.testimonials {
    position: relative;
}

.image-size{
    width: 600px;
}
.inner-testimonials .owl-dots {
    display: none;
}
.custome_slide.owl-carousel .active.center .main-reviewimage {
    border: 2px solid #fff;
}
// .main-reviewimage img {
//     // opacity: 0.3;
// }
#slide-testimonal .active.center .main-reviewimage img {
    opacity: 1;
}
.test_img {
    position: relative;
    opacity: 1;
    -webkit-transition: .4s ease all;
    transition: .4s ease all;
    margin-top: 40px;
}
.inner-testimonials {
    width: 100%;
    max-width: 680px;
    margin: 0 auto;
}
#slide-testimonal .center .test_img:before {
    content: none;
    transition: 0.7s ease-in-out;
}
.custome_slide.owl-carousel  {
    transform: scale(1.3);
    margin-top: 0 !important;
    position: relative;
    z-index: 999;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.custome_slide.owl-carousel  {
    transform: scale(0.7);
    padding: 10px 0px;
    transition: all 0.5s;
}
.testimonial_detail {
    text-align: center;
}
.testimonial_detail {
    transform: scale(0.7) !important;
    width: 447px;
    position: relative;
    left: -71px;
}
.testimonial_detail h4 {
    font-size: 38px;
    margin: 0;
}
.testimonial_detail p {
    color: #ccc;
    font-size: 26px;
}
.custome_slide.owl-carousel .active .testimonial_detail {
    display: none;
}
.custome_slide.owl-carousel .testimonial_detail {
    display: block !important;
}

@media only screen and (max-width:767px){
 .main-reviewimage {
   height: 400px;
   width: 425px;
   margin: 0 auto;
   display: block;
 }
 .testimonial_detail {
   left: inherit;
   width: 100%;
 }

 .owl-item .cloned{
     width: 100% !important;
 }
 .owl-item .active{
     width: 100% !important;
 }
 .owl-item{
     width: 100% !important;
 }

 .own-nav {
     display: none !important;
 }
}