.blog__text {
    grid-column: 4 / 9;

    
    @media only screen and (max-width:$bp-largest) {
       grid-column: center-start / center-end;
     }

     
    @media only screen and (max-width:$bp-medium) {
        grid-column: 1 / -1;
       }

    text-align: center;
    padding: 0 100px;
    margin-top: 50px;

    @media only screen and (max-width:$bp-medium) {
        padding: 10px;
       }

    &-title {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-style: italic;
    }


    &-paragraphs {
        font-family: 'Poppins';
    }
}