.features { 
    grid-column: center-start / full-end;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 100px;
    position: relative;

    @media only screen and (max-width:$bp-medium) {
        grid-column: full-start / full-end;
      }


    &__content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, min-content);
        grid-column: 1 / 4;
         
        @media only screen and (max-width:$bp-largest) {
            grid-column: 1 / 5;
         }
        @media only screen and (max-width:$bp-large) {
            grid-column: 1 / 9;
         }
        @media only screen and (max-width:$bp-medium) {
            grid-column: 3 / -1;
         }

        &-big-title,
        &-colored,
        &-last-title {
            font-size: 40px;
            font-weight: bold;
            grid-column: 1 / 7;
            font-family: 'Playfair Display', serif;
        }

        &-small-title {
            font-size: 30px;
        }

        &-last-title {
            &::after {
                content:"";
                position: absolute;
                width: 250px;
                left: 10px;
                height: 0.5em;
                border-top: 3.5px solid #000;
                z-index: -1;
                top: 200px;

                @media only screen and (max-width:$bp-medium) {
                    width: 100px;
                    left: 80px;
                  }
            }
        }

        &-big-title {
            &::after {
                content:"";
                position: absolute;
                top: 25px;
                left: 330px;
                right: 0;
                height: 0.5em;
                border-top: 3.5px solid #000;
                z-index: -1;

                @media only screen and (max-width:$bp-medium) {
                   left: 350px;
                 }
            }
        }
      
        &-text-1,
        &-text-2 {
            grid-column: 1 / 4;
        }
        &-btn{
            grid-column: 1 / 4;
            text-transform: uppercase;
            background-color: #fff;
            padding: 10px 20px;
        }

       


        &-colored {
            color: #feb564;
            grid-column: 1 / 7;
            width: 400px;
        }

        &-paragraphs {
            grid-column: 1 / 6;
            margin-top: 100px;
        }
       
    }

    &__image {
        display: grid;
        grid-column: 6 / -1;
        grid-template-rows: repeat(6, min-content);
        position: relative;
        top: 100px;

        @media only screen and (max-width:$bp-large) {
          grid-column: 1 / -1;
         }

        &-img {
            width: 400px;
            grid-column: 1 / 2;
            grid-row: 3 / -1;
            z-index: 10;
            position: relative;
            right: 240px;
            bottom: 100px;

             
        @media only screen and (max-width:$bp-largest) {
            width: 250px;
            right: 110px;
         }

        @media only screen and (max-width:$bp-large) {
            bottom: 650px;
            left: 400px;
         }
        @media only screen and (max-width:$bp-medium) {
           display: none;
         }
        }

        &-products {
           grid-column: 1 / -1;
           grid-row: 2 / 5;
           background-color: #ffebd4;
           display: grid;
           grid-template-columns: repeat(10, 5vw);
           border-radius: 10px 0 0 0;
           grid-gap: 20px;

           @media only screen and (max-width:$bp-largest) {
            grid-gap: 0;
          }

          @media only screen and (max-width:$bp-large) {
            grid-template-columns: repeat(10, 9vw);
           
         }

           &-price {
            grid-row: 3 / 4;
        }

        &-text {
            grid-column: 1 / 4;
            grid-row: 2 / 3;
        }

        &-first, 
        &-second,
        &-third {
            display: grid;
           grid-template-columns: repeat(5,1fr);
           grid-template-rows: repeat(4, min-content);
            grid-column: 3 / 10;
            position: relative;
            margin: 20px 0;

            @media only screen and (max-width:$bp-largest) {
               grid-column: 4 / 11;
             }
             @media only screen and (max-width:$bp-large) {
                grid-column: 2 / -1;
               }

            h5 {
                grid-column: 1 / 4;
            }

            img {
                grid-column: 4 / 6;
                grid-row: 1 / 4;
                justify-self: center;
                max-width: 100%;

                @media only screen and (max-width:$bp-largest) {
                    max-width: 80%;
                  }
            }

          
        }

        &-first::after,
        &-second::after {
                content:"";
                position: absolute;
                bottom: -30px;
                left: 0;
                right: 0;
                height: 0.5em;
                border-top: 1px solid  #fad9b4;
                z-index: 10;
                width: 90%;

                @media only screen and (max-width:$bp-largest) {
                   width: 100%;
                  }
                @media only screen and (max-width:$bp-large) {
                   width: 80%;
                  }
        }
        }
    }
}