.products {
    grid-column: center-start / center-end;
    margin-top: 100px;


    &__content {
        display: grid;
        justify-content: center;
        justify-items: center;
        text-transform: uppercase;
        font-family: "Playfair";
    }
  
    &__icon {
        width: 20px;
        margin-bottom: 50px; 
        
    }

    &__icon::before,
    &__icon::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid black;
        z-index: -1;
    }
   
    &__line::after,
    &__line::before {
        display: inline-block;
        content: "";
        border-top: 1px solid rgb(226, 126, 44);
        width: 4rem;
        margin: 0 1rem;
        transform: translateY(-2rem);
    }

    &__tab {
        display: flex;
        justify-content: center;
        justify-items: center;
        text-transform: uppercase;
    }

    .tablinks {
        margin: 10px;
        cursor: pointer;
    }

    .tab h6.active {
        font-weight: bold;
      }
}

.slider {
    display: flex;
}
