.products {
    grid-column: center-start / center-end;
    margin-top: 100px;

    @media only screen and (max-width:$bp-largest) {
      margin-top: 200px;
     }
     @media only screen and (max-width:$bp-small) {
        grid-column: full-start / full-end;
      }


    &__content {
        display: grid;
        justify-content: center;
        justify-items: center;
        text-transform: uppercase;
        font-family: "Playfair";
    }
  
    &__icon {
        width: 20px;
        margin-bottom: 50px;         
    }

    &__icon::before,
    &__icon::after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid black;
        z-index: -1;
    }
   
    &__line::after,
    &__line::before {
        display: inline-block;
        content: "";
        border-top: 1px solid rgb(226, 126, 44);
        width: 4rem;
        margin: 0 1rem;
        transform: translateY(-2rem);
    }

    &__tab {
        display: grid;
        justify-content: center;
        justify-items: center;
        text-transform: uppercase;
        @media only screen and (max-width:$bp-large) {
            font-size: 12px;
           }

    
        li a {
            text-decoration: none;
            color: #000;
            margin: 10px;
        }

      
       
    }

    .tab-content {
        width: 1200px;
        margin: auto;
        margin-top: 100px;

        
        @media only screen and (max-width:$bp-largest) {
            width: 100%;
         }
    }

    .tablinks {
        margin: 10px;
        cursor: pointer;
    }
}

.slider {
    display: flex;
}

.nav .nav-pills {
    display: grid;
}


.box {
    width: 100% ;
    height: 100%;
    position: relative;
    padding: 0 10px;
}

.products-paragraph {
    font-size: 14px;
    text-align: start;

    &-top {
        position: absolute;
        right: 10px;
        top: 10px;
        font-weight: bold;
        text-transform: uppercase;
        padding:0 0 0 130px;
        text-align: center;
        font-size: 10px;
    }
}

.owl-nav {
    display: block !important;

    @media only screen and (max-width:$bp-medium) {
        display: none !important;
     }
}

.owl-prev {
    display: block !important;
    background-color: transparent !important;
    position: absolute !important;
    top: 70px !important;
    left: -100px !important;

    img {
        width: 20x;
        height: 20px;
        filter: invert(50%);
    }
}

.owl-next {
    display: block !important;
    background-color: transparent !important;
    position: absolute !important;
    top: 70px !important;
    right: -100px !important;
    img {
        width: 20x;
        height: 20px;
        filter: invert(50%);
    }
}

