.sidebar {
    background-color: #feb564;
    grid-column: full-start / center-end;
    display: grid;

    &__text {
        justify-items: center;
        align-items: center;
        display: grid;
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
    }

    &__icons {
        grid-column: 11 / 12;
        justify-self: end;

        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

    }
   
    &__turkish {
        display: grid;
        justify-items: center;
        align-items: center;
    }
}


  