.story {
    background-image: url('../images/background-section.png');
    grid-column: full-start / full-end;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 5vw);
    display: grid;
    margin-top: 100px;

    
    @media only screen and (max-width:$bp-largest) {
        grid-template-rows: repeat(12, 6vw);
      }
      @media only screen and (max-width:$bp-small) {
        display: block;
      }


    &__content {
        grid-column: 3 / 6;
        grid-row: 2 / 6;

        @media only screen and (max-width:$bp-largest) {
            grid-column: 2 / 5;
          }
        @media only screen and (max-width:$bp-large) {
            grid-column: 2 / 7;
          }

          @media only screen and (max-width:$bp-medium) {
            text-align: center;
          }

    &-title {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
    }

    &-title,
    &-paragraph {
        color: #fff;
    }
}

    .colored {
        color: #feb564;
    }

    .first {
        margin-top: 50px;
    }
}